
{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit This Recipe</a>
        {% endif %}
    </nav>
</header>

<body>
    <main>
        <article class="recipe-detail">
            <h1>
                {{ recipe_object.title }}
            </h1>
            <img src="{{ recipe_object.pic }}" alt="delicious tacos">
            <div>
                4.3 stars
            </div>
            <p>{{ recipe_object.description }}</p>
            <h2>
                Ingredients
            </h2>
            <table class='ingredients-table'>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <div>
                <h2>Steps</h2>
                <ol>
                    {% for step in recipe_object.steps.all %}
                    <li> {{ step.instruction }} </li>
                    {% endfor %}
                </ol>
            </div>
            {{ recipe.author }}
        </article>
    </main>
</body>
{% endblock content %}
<footer>Made with love by Scrumptious Recipes</footer>

</html>