{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'create_recipe' %}">Create a recipe!</a>
    </nav>
</header>
<body>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <main class="recipe-list">
        {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipes' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p>{{ recipe.created_on|date:'F j, Y' }}</p>
                <img src="{{ recipe.pic }}" alt="delicious tacos"/>
                <div>4.3 stars</div>
            </div>
        {% endfor %}
    </main>
</body>
{% endblock content %}
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</html>
